@media (min-width: 800px){
	.container{
		display:grid;
	
		grid-template-columns:repeat(2 ,minmax(380px,1fr ));
		grid-template-rows:repeat(6 ,minmax(150px ));
		grid-auto-rows:150px;
	
		gap:70px 25px;
		align-items:center;
		word-break:break-word;
		line-height:25px;
	
	}

	/* .para{
		display:flow;
	} */
}

html{
	height:100%;
}

body{
	height:100%;
	margin:0;
	font-family: Verdana, sans-serif;
	
	
}


header h1,
header p{
	margin:0;
}

header img{
	width:100%;
	vertical-align:bottom;
	animation-name:flash;


	animation-duration:0.7s;
	z-index: 1;
}

header{
	text-align:center;
}


@keyframes flash{
	0%{
		transform:none;
		
	}
	25%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}

.relative{
	position:relative;
	
	
}

.absolute{
	position:absolute;
	left:10%;
	bottom:5%;
	font-size:24px;
	font-weight:bold;
	color:rgb(255, 255, 255);
	font-family: "Hannari";
	animation-name:tex;	
	animation-duration:2s;
	
	animation-fill-mode:forwards;	
	/* animation: tex 1s 1.5s forwards; */
	
}

@keyframes tex {
	0% ,60%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}

/* @keyframes nice{
	0%{
		transform:none;
	}
	100%{
		transform:translateY (1500%);
	}
} */

.skill{
	padding:50px;
	text-align: center;
}

.content{
	display:flex;
	overflow-x: scroll;
	height: 350px;
	/* width:100% ;
	
	margin:0 auto;  */
	background-color:rgb(240, 240, 240);
	min-width:320px;
	/* justify-content:center; */
}
.child{
	height:300px;
	width:300px;
	margin:10px;
	background-color:rgb(240, 240, 240);
	min-width:300px;
}
.child-out{
	height:300px;
	width:100%;
	min-width:300px;
	margin:10px;
	background-color:rgb(240, 240, 240);
	
}
video{
	height:300px;
	width:100%;
	min-width:300px;
}
.child > img{
	height:300px;
	width:100%;
	min-width:300px;
}

h1{
	text-align:center;
}

.container{
	display:grid;

	grid-template-columns:repeat(2 ,minmax(380px,1fr ),);
	grid-template-rows:150px 150px 150px;
	grid-auto-rows:150px;

	gap:70px 25px;
	align-items:center;
	word-break:break-word;
	line-height:25px;

}

.boxcontent{
	display:flow;
	padding-left:20px;
}

.box1{
	display:flex;
	background: rgb#fff;	
}


.box2{
	display:flex;
	background: rgb#fff;
}
.box3{
	display:flex;
	background: rgb#fff;
}
.box4{
	display:flex;
	background: rgb#fff;
}
.box5{
	display:flex;
	background: rgb#fff;
}
.box6{
	display:flex;
	background: rgb#fff;
}

.icon{
	
	width:130px;	
}
.text{
	padding:0 10px;
}
footer{
	display:flex;
	width:100%;
	height:400px;
	background:rgb(235, 229, 229);
	/* padding:200px auto 200px auto ; */
	/* margin:50px 0 0 0; */
	margin:50px 0 0 0;
	align-items:center;
}

.set{
	margin:50px auto;
}

.face{
	height:100px;
	width:80px;
	margin:0 calc(50% - 40px);
}

.history{
	font-weight:normal;
	width:70%;
	margin: 20px auto 0 auto;

}
